# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch

/stacktrace.log

# plugin release file
/*.zip

# "temporary" build files
/target

# other
*.iws
/plugin.xml
.DS_Store
