<plugin name='grails-reporting-js' version='0.1' grailsVersion='2.1.3 &gt; *'>
  <author>Your name</author>
  <title>Grails Reporting Js Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/grails-reporting-js</documentation>
  <type>GrailsReportingJsGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>ReportingJsResources</resource>
    <resource>grails.reporting.js.ReportingJsController</resource>
    <resource>grails.reporting.js.Album</resource>
    <resource>grails.reporting.js.Artist</resource>
    <resource>grails.reporting.js.Music</resource>
    <resource>grails.reporting.js.Sale</resource>
    <resource>grails.reporting.js.ReportJsTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.20' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='console' version='1.2' />
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.3' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.2.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.3' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>